In [1]:
from aqua.util import load_yaml, get_arg, create_folder

In [2]:
import pandas as pd
from pandas import json_normalize
import glob

In [3]:
pi_yaml_path="/gpfs/scratch/dese28/dese28422/ecmean_files/YAML/"
machines = ["lumi", "mn4"]
ensembles = ["p000", "p001", "p002", "p003", "p004"]

consolidated_df = pd.DataFrame()
for machine in machines:
    for ensemble in ensembles:
        pattern = f"/gpfs/scratch/dese28/dese28422/ecmean_files/YAML/*{machine}*/*{ensemble}*yml"
        yaml_files = glob.glob(pattern)
        data= load_yaml(yaml_files[0])

        flat_data = {}
        for variable, variable_data in data.items():
            for season, season_data in variable_data.items():
                for location, value in season_data.items():
                    flat_data[(variable, season, location)] = value
        df = pd.DataFrame(flat_data, index=['Value']).T.reset_index()
        df.columns = ['Variable', 'Season', 'Location', 'Value']
        df["ensemble"]=ensemble
        df["machine"]= machine
        consolidated_df=  pd.concat([consolidated_df, df], ignore_index=True)

consolidated_df

    Variable Season      Location  Value ensemble machine
0        psl    ALL        Global  4.483     p000    lumi
1        psl    ALL  North Midlat  5.783     p000    lumi
2        psl    ALL      Tropical  4.953     p000    lumi
3        psl    ALL  South Midlat  2.244     p000    lumi
4        psl    DJF        Global  1.437     p000    lumi
..       ...    ...           ...    ...      ...     ...
895   siconc    DJF  South Midlat    NaN     p004     mn4
896   siconc    JJA        Global    NaN     p004     mn4
897   siconc    JJA  North Midlat    NaN     p004     mn4
898   siconc    JJA      Tropical    NaN     p004     mn4
899   siconc    JJA  South Midlat    NaN     p004     mn4

[900 rows x 6 columns]

In [4]:
consolidated_df.to_csv("pi_scores.csv", index=False)

In [ ]:
consolidated_df[""]

In [5]:
from scipy.stats import kstest

In [6]:
from numpy.random import seed
from numpy.random import randn
from numpy.random import lognormal

#set seed (e.g. make this example reproducible)
seed(0)

#generate two datasets
data1 = randn(5)
data2 = randn(5)
data2

array([-0.97727788,  0.95008842, -0.15135721, -0.10321885,  0.4105985 ])

In [7]:
from scipy.stats import ks_2samp

#perform Kolmogorov-Smirnov test
ks_2samp(data1, data2)

KstestResult(statistic=0.8, pvalue=0.07936507936507936, statistic_location=0.9500884175255894, statistic_sign=-1)

In [8]:
df=consolidated_df
df

    Variable Season      Location  Value ensemble machine
0        psl    ALL        Global  4.483     p000    lumi
1        psl    ALL  North Midlat  5.783     p000    lumi
2        psl    ALL      Tropical  4.953     p000    lumi
3        psl    ALL  South Midlat  2.244     p000    lumi
4        psl    DJF        Global  1.437     p000    lumi
..       ...    ...           ...    ...      ...     ...
895   siconc    DJF  South Midlat    NaN     p004     mn4
896   siconc    JJA        Global    NaN     p004     mn4
897   siconc    JJA  North Midlat    NaN     p004     mn4
898   siconc    JJA      Tropical    NaN     p004     mn4
899   siconc    JJA  South Midlat    NaN     p004     mn4

[900 rows x 6 columns]

In [9]:
for variables in 


filter= df[(df["Variable"] == "psl") & (df["Season"] == "ALL") & (df["Location"]== "Global")]
mn4= filter[filter["machine"]== "mn4"]
lumi= filter[filter["machine"]== "lumi"]
ks_2samp(lumi.Value.values, mn4.Value.values)

array([4.483, 2.49 , 2.436, 2.469, 2.389])

In [15]:
mn4.ensemble.unique()

array(['p000', 'p001', 'p002', 'p003', 'p004'], dtype=object)

KstestResult(statistic=0.6, pvalue=0.35714285714285715, statistic_location=2.49, statistic_sign=1)